<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title=#{pageTitle.adminHome})"></head>
<body>

<header th:replace="fragments/base.html :: header"></header>
<nav th:replace="fragments/base.html :: nav"></nav>

    <section>
        <div class="container">
            <a th:href="@{/logout}" th:utext="#{logout}" class="logout"></a>
            <h1 th:utext="#{admin.home.title}"></h1>
            <div th:utext="#{admin.home.subtitle(|${user.firstName} ${user.lastName}|)}" class="subtitle"></div>
            <hr>
            <div class="flex-row">


            </div>
        </div>
    </section>

<footer th:replace="fragments/base.html :: footer"></footer>

</body>
</html>