<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title=#{pageTitle.adminUsers})"></head>
<body>

<header th:replace="fragments/base.html :: header"></header>
<nav th:replace="fragments/base.html :: nav"></nav>

<section>
    <div class="container">
        <h1 th:utext="#{admin.users.title}"></h1>
        <div th:utext="#{admin.users.subtitle}" class="sub-title"></div>

        <ul style="font-size:1.4em">
            <li th:each="user : ${users}">
                <span th:utext="#{admin.users.id(${user.id})}"></span>&nbsp;
                <span th:utext="#{admin.users.fullName(|${user.firstName} ${user.lastName}|)}"></span>
            </li>
        </ul>
    </div>
</section>

<footer th:replace="fragments/base.html :: footer"></footer>

</body>
</html>