:root {
  --text-color: #383838;
  --text-color-light: #fff;
  --secondary-text-color: #787878;

  --bg-color: #fafafa;
  --main-color: #c09a5c;
  --main-darker-color: #000;
  --secondary-color: #b5a395;
}

* {
  box-sizing: border-box;
}

html, body {
	width: 100%;
	padding: 0;
	margin: 0;
}

html {
	font-size:1rem;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg-color);
	font-family: 'Montserrat', serif;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}

h1, h2, h3, h4, h5, .logo {
	font-family: 'trajan-pro-3', serfif;
	font-weight: normal;
	margin:0;
}

.pl-2 {
	padding-left: 2em;
}

header {
	width: 100%;
	background-color: var(--main-color);
	color: var(--text-color-light);
	position: relative;
	padding:10px;
	text-align: center;
}

header .logo svg {
	fill: var(--text-color-light);
	width: 2.25em;
	height: 2.25em;
	filter: drop-shadow(1px 1px 0px #000);
}

header .logo span {
	font-size: 2.25em;
	text-shadow: 1px 1px 0px #000;
}

nav {
	width: 100%;
	background-color: var(--main-darker-color);
	border-bottom: 10px solid var(--secondary-color);
	padding:0;
}

nav ul {
	list-style: none;
	padding:0;
	margin:-1px;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin-right: 15px;
}

nav ul li:hover {
	background-color: rgba(255,255,255,.15);
	cursor: pointer;
	transition: 0.75s;
}

nav ul li a {
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	font-family: 'trajan-pro-3', serfif;
	color: var(--text-color-light);

}

nav ul li.active a {
	background-color: var(--secondary-color);
	color: var(--text-color);
}

nav ul li:hover.active {
	background-color: transparent;
}

.top-img {
	height: 400px;
	background-image: url("/img/bg.jpg");
	background-size: cover;
	background-position: top;
	width: 100%;
	border-bottom: 10px solid var(--secondary-color);
}

.top-img.small {
	height: 200px;
	background-position: center;
}

.top-img.small.artist {
    background-image: url("/img/bg1.jpg");
}

.top-img.small.collection {
    background-image: url("/img/bg2.jpg");
}

.top-img.small.info {
    background-image: url("/img/bg3.jpg");
}

.top-img.small.work {
    background-image: url("/img/bg4.jpg");
}

.logout, .red-btn {
    background-color: #ef0000;
    padding: 10px 25px;
    color: var(--text-color-light);
    text-decoration: none;
}

section {
	margin: 50px 0;
}

section h1 {
	font-size: 2em;
	margin-top: 35px;
	line-height: 1;
}

section .sub-title {
	color: #aaa;
	font-weight: 100;
	font-size: 0.85em;
	margin-bottom: 40px;
}

section p, section li, section span {
	font-size: .75em;
}

.w-100 {
    width: 100%;
}

.p-1 {
    padding: 1em;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	flex-wrap: wrap;
}

.flex-row .col {
	position: relative;
	flex-direction: column;
	flex-wrap: wrap;
	flex-basis: 100%;
	flex: 1;
}

.flex-row .col.col-1,
.flex-row .col.col-2,
.flex-row .col.col-3,
.flex-row .col.col-4,
.flex-row .col.col-5,
.flex-row .col.col-6,
.flex-row .col.col-7,
.flex-row .col.col-8,
.flex-row .col.col-9,
.flex-row .col.col-10
{
    max-width: 100%;
    flex: 0 0 100%;
}

.links .link img {
	width: 100%;
}

.links .link {
    margin: 18px;
}

.links .link a {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top:0;
	left:0;
	text-align: center;
	line-height: 5;
	color: var(--text-color-light);
	text-decoration: none;
	font-family: 'trajan-pro-3', serfif;
	background-color: rgba(0,0,0,.3);
	border-top: 8px solid var(--secondary-color);
	text-shadow: 1px 1px 1px #000;
	font-size: 1.25em;
}

.links .link a:hover {
	border-top: 8px solid var(--main-color);
	background-color: rgba(0,0,0,.5);
	transition: 0.5s;
	font-size: 1.4em;
}

.success {
    padding:10px;
    width: 100%;
    background-color: #bcf5bc;
    color: var(--text-color);
    border-radius: 3px;
    margin: 15px 0;
    display: block;
}

.artist ul, .collection ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.artist ul li, .collection ul li {
    flex: 0 0 33.333333%;
    text-align: center;
    border: 5px solid var(--bg-color);
    padding: 5px;
    background-color: rgba(0,0,0,.05);
}

.artist ul li img, .collection ul li img {
    width: 100%;
    padding: 5px;
}

.artist ul li a, .collection ul li a {
    width: 100%;
    float: left;
    text-decoration: none;
    color: var(--text-color);
}

.artist ul li a:hover, .collection ul li a:hover {
    text-decoration: underline;
}



.form-group span {
    color: #ef0000;
}

.login .google {
    padding: 10px 22px;
    font-size: 1.2em;
    background-color: #fff;
    background-image: url("/img/google.png");
    background-size: 1.6em 1.6em;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 2em;
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid rgba(0,0,0,.5);
}

.btn {
    padding: 12px 24px;
    font-size: 1.2em;
    color: var(--text-color-light);
    border: 0px;
    background-color: var(--main-color);
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
}

.btn:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.15);
}

footer {
	width: 100%;
	background-color: var(--main-color);
	border-top: 12px solid var(--main-color);
	position: relative;
	color: var(--text-color-light);
	font-size: .75em;
	padding: 40px 0;
	margin-top: 60px;
}

footer::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.4);
	z-index: 0;
}

footer .container {
	z-index: 10;
}

footer .copyright .copyright-info {
	margin-top: 25px;
	font-size: 0.75em;
}

footer .copyright a {
	color: var(--text-color-light);
	text-decoration: underline;
}

footer .login-btn {
    padding: 6px 12px;
    background-color: rgba(0,0,0,.25);
    border-radius: 5px;
    text-decoration: none!important;
    font-size: 0.75em;
}

footer .login-btn:hover {
    background-color: rgba(0,0,0,.1);
}

@media only screen and (min-width: 576px) {
	html {
		font-size:1rem;
	}
}

@media only screen and (min-width: 768px) {
	html {
		font-size: 1.2rem;
	}
	header {
		text-align: left;
	}
	nav ul {
		text-align: left;
	}
}

.form-group {
    width: 100%;
    margin-bottom: 1.2em;
}

.form-group label {
    font-size: 0.8em;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(0,0,0,.5);
}

@media only screen and (min-width: 900px) {
	html {
		font-size: 1.5rem;
	}
	.container {
		width: 900px;
	}
	header {
		padding:15px;
	}
	nav ul li {
		margin-right: 25px;
	}
	section {
	    margin: 75px 0;
    }
    .flex-row .col.col-1 {
        max-width: 10%;
        flex: 0 0 10%;
    }
    .flex-row .col.col-2 {
        max-width: 20%;
        flex: 0 0 20%;
    }
    .flex-row .col.col-3 {
        max-width: 30%;
        flex: 0 0 30%;
    }
    .flex-row .col.col-4 {
        max-width: 40%;
        flex: 0 0 40%;
    }
    .flex-row .col.col-5 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .flex-row .col.col-6 {
        max-width: 60%;
        flex: 0 0 60%;
    }
    .flex-row .col.col-7 {
        max-width: 70%;
        flex: 0 0 70%;
    }
    .flex-row .col.col-8 {
        max-width: 80%;
        flex: 0 0 80%;
    }
    .flex-row .col.col-9 {
        max-width: 90%;
        flex: 0 0 90%;
    }
    .flex-row .col.col-10 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media only screen and (min-width: 1200px) {
	.container {
		width: 1150px;
	}
	.top-img {
		height: calc(100vh - 165px);
	}
}


@media only screen and (min-width: 1400px) {
	.container {
		width: 1380px;
	}
}
