<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title=#{pageTitle.adminUsers})"></head>
<body>

<header th:replace="fragments/base.html :: header"></header>
<nav th:replace="fragments/base.html :: nav"></nav>

<div class="top-img small collection"></div>

<section>
    <div class="container">
        <h1 th:utext="#{admin.collections.title}"></h1>
        <div th:utext="#{admin.collections.subtitle}" class="sub-title"></div>

        <a th:href="@{/admin/collection/add}" th:utext="#{admin.collection.button.add}" class="btn"></a>

        <ul style="font-size:1.4em">
            <li th:each="collection : ${collections}">
                <a th:href="@{'/admin/collection/' + ${collection.id}}"
                   th:text="${collection.name}"></a>
            </li>
        </ul>
    </div>
</section>

<footer th:replace="fragments/base.html :: footer"></footer>

</body>
</html>