<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title=#{pageTitle.login})"></head>
<body>

<header th:replace="fragments/base.html :: header"></header>
<nav th:replace="fragments/base.html :: nav"></nav>

<div class="top-img small work"></div>

<section class="work">
    <div class="container">
        <div th:if="${work}" th:object="${work}">
            <div class="flex-row">
                <div class="col col-6">
                    <h1>
                        <span th:text="*{title}"></span>
                    </h1>
                    <div th:text="#{work.subtitle}" class="sub-title"></div>

                    <a th:href="@{'/artist/' + *{artist.id}}" th:text="|*{artist.firstName} *{artist.lastName}|"></a>
                    <p th:text="*{description}"></p>
                </div>
                <div class="col col-4">
                    <img th:src="*{imageUrl}" class="w-100 p-1">
                </div>
            </div>
        </div>
        <div th:unless="${work}" th:utext="#work.notFound"></div>
    </div>
</section>

<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>