<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title=#{pageTitle.login})"></head>
<body>

<header th:replace="fragments/base.html :: header"></header>
<nav th:replace="fragments/base.html :: nav"></nav>

<div class="top-img small work"></div>

<section>
    <div class="container">
        <h1 th:text="#{works.title}"></h1>
        <div th:text="#{works.subtitle}" class="sub-title"></div>
        <ul>
            <li th:each="work : ${works}">
                <a th:href="@{'/work' + '/' + ${work.id}}"
                   th:text="${work.title}"></a>
            </li>
        </ul>
    </div>
</section>

<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>