<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title=#{pageTitle.adminUsers})"></head>
<body>

<header th:replace="fragments/base.html :: header"></header>
<nav th:replace="fragments/base.html :: nav"></nav>

<div class="top-img small artist"></div>

<section>
    <div class="container">
        <h1 th:utext="#{admin.artists.title}"></h1>
        <div th:utext="#{admin.artists.subtitle}" class="sub-title"></div>

        <a th:href="@{/admin/artist/add}" th:utext="#{admin.artist.button.add}" class="btn"></a>

        <ul style="font-size:1.4em">
            <li th:each="artist : ${artists}">
                <a th:href="@{'/admin/artist/' + ${artist.id}}"
                   th:text="|${artist.firstName} ${artist.lastName}|"></a>
            </li>
        </ul>
    </div>
</section>

<footer th:replace="fragments/base.html :: footer"></footer>

</body>
</html>